# Auto detect text files and perform LF normalization
* text=auto eol=lf
# Match .pt files when storing, pushing/pulling, comparing differences(diff) or merging these configuration of Git LFS(Large File Storage)
*.pt filter=lfs diff=lfs merge=lfs -text
